{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet" />
    <title>Lista de Estudantes</title>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Lista de Estudantes Cadastrados</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nome Completo</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>E-mail</th>
            <th>Curso</th>
          </tr>
        </thead>
        <tbody>
          {% for estudante in estudantes %}
          <tr>
            <td>{{ estudante.nome_completo }}</td>
            <td>{{ estudante.endereco_residencial }}</td>
            <td>{{ estudante.cidade_moradia }}</td>
            <td>{{ estudante.email_pessoal }}</td>
            <td>{{ estudante.nome_curso }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
